<div class = "container">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="page-header"><h2>Tienes las Entradas a tu Alcance</h2></div>
        <form name="auth" ng-submit="login(auth.$valid)" novalidate>
            <div id="messages" class="alert alert-warning" ng-show="messages" ng-bind="messages"></div>
            <div class="form-group" ng-class="(!auth.user.$pristine && user.username == null)? 'has-error' : 'has-success'">
                <label for="user">Usuario</label>
                <input type="text" class="form-control" id="user" placeholder="Introduzca el usuario" ng-model="user.username" ng-change="messages=null" required/>
            </div>
            <div class="form-group" ng-class="(!auth.user.$pristine && user.password == null)? 'has-error' : 'has-success'">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Introduzca la contraseña" ng-model="user.password" ng-change="messages=null" required/>
            </div>
            <button type="submit" ng-disabled="auth.$invalid" class="btn btn-primary">Acceder</button>
        </form>
    </div>
</div>