<div class="container-fluid col-sm-8 col-sm-offset-2">
    <div class =row>
        <div class="col-sm-4 mb-3">
            <div ng-show="car[0]" class="card">
                <div class="card-block">
                    <h4 class="card-title">Histórico de compras</h4>
                    <hr/>
                    <ul>
                        <a href class="btn mb-3" ng-init="informe = 1" ng-click="informe = 1">Informe por eventos</a>

                        <a href class="btn mb-3" ng-click="informe = 2">Informe por meses</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div ng-show="informe == 1" class="card mb-3" ng-repeat="group in orders | groupBy: 'lines[0].ticket.event.name' | toArray:true | orderBy: '$key'">
                <h2 class="card-header">Informe por eventos</h2>
                <div class="card-block">
                    <div class="card-text">
                        <h3>{{group.$key}}</h3>
                    </div>
                    <br/>
                    <div ng-repeat="order in group"> <!--todo  | SumLinesInOrder-->
                        <div class="card-title">
                            <h7>Orden - {{order.id}}</h7>
                        </div>
                        <div class="card-blockquote">
                            <table class="table table-striped table-responsive">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>